// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$card-border-radius: 10px;

$material-dark: ( 
    background: #2F495E,
    app-bar: #2F495E,
    navigation-drawer: #2F495E,
    cards: #2C3E50,
    toolbar: #2F495E
    // #2F495E
    // #1e344c
    //2C3E50
);


$material-light: ( 
    app-bar: #edf1f4,
    cards: #edf1f4,
    toolbar: #edf1f4,
    text: (
      'theme': #2F495E,
      'primary': #2F495E,
      'secondary': #2F495E,
      'disabled': #95a7b7,
      'link': #2C3E50,
    //   'link-hover': map-get($grey, 'darken-3')
    ),
);

$body-font-family: 'Quicksand';
$heading-font-family: 'Quicksand';
