// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$card-border-radius: 10px;

$material-dark: ( 
    background: #2F495E,
    app-bar: #2F495E,
    navigation-drawer: #2F495E,
    cards: #2C3E50,
    toolbar: #2F495E
);


$material-light: ( 
    background: #f3f5f7,
    app-bar: #f3f5f7,
    cards: #ffffff,
    toolbar: #f3f5f7,
    text: (
      'theme': #2F495E,
      'primary': #2F495E,
      'secondary': #2F495E,
      'disabled': #95a7b7,
      'link': #2C3E50,
    ),
);

$body-font-family: 'Quicksand';
$heading-font-family: 'Quicksand';
